html, body {
/* 	font-family: sans-serif; */
}

h2 {
	background-color: #0d6efd !important;
	color: #ffff !important;
	text-align: center;
	margin-top: 15px;
	padding: 15px;
}

thead {
	background-color: #0d6efd !important;
	border-bottom: hidden;
	color: #ffff !important;
	text-align: center;
}

td {
	text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #cfe2ff; 
    }
    
.table-striped>tbody>tr:nth-child(even)>td, 
	.table-striped>tbody>tr:nth-child(even)>th {
 	background-color: #f8f9fa;
}
